<% if @benchmark_definition.present? %>
  <!-- Index benchmark_executions for a specific benchmark_definition -->
  <% provide(:title, "Benchmark Executions of #{@benchmark_definition.name}") %>
  <% content_header("#{pluralize(@benchmark_executions.count, 'Benchmark Execution')} of", link_to(@benchmark_definition.name, @benchmark_definition)) %>

  <div class="row">
    <div class="col-md-9">
      <%= will_paginate @benchmark_executions %>
      <%= render 'shared/benchmark_executions', show_benchmark_definition: false %>
      <%= will_paginate @benchmark_executions %>
    </div>
    <div class="col-md-3">
      <div class="transparant-well">
        <%= button_to [@benchmark_definition, @benchmark_definition.benchmark_executions.build],
                      method: :post, class: 'btn btn-primary btn-block btn-lg',
                      data: confirm_start_execution_msg(@benchmark_definition) do %>
          <%= start_icon %>&nbsp;Start Execution
        <% end %>
      </div>
      <%= schedule_metric_sidebar(@benchmark_definition) %>
    </div>
  </div>
<% else %>
  <!-- Index all benchmark_executions -->
  <% provide(:title, 'Benchmark Executions') %>
  <% content_header('Benchmark Executions') %>

  <%= will_paginate @benchmark_executions %>
  <%= render 'shared/benchmark_executions', show_benchmark_definition: true %>
  <%= will_paginate @benchmark_executions %>
<% end %>

