<% if @benchmark_definition.present? %>
  <!-- Index benchmark_executions for a specific benchmark_definition -->
  <div class="row">
    <div class="span9">
      <h2>Benchmark Executions of <%= link_to @benchmark_definition.name, @benchmark_definition %></h2>
    </div>
    <div class="span3">
      <%= form_for [@benchmark_definition, @benchmark_definition.benchmark_executions.build] do |f| %>
        <%= f.hidden_field :benchmark_definition_id %>
        <%= f.submit 'Start Execution', data: { confirm: 'Are you sure?' }, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>

  <div class="container">
    <div class="row">

      <div class="box span9">
        <%= render 'shared/benchmark_executions', show_benchmark_definition: false %>
      </div>

      <%= render 'shared/metric_definitions_sidebar' %>
    </div>
  </div>
<% else %>
  <!-- Index all benchmark_executions -->
  <h2>Benchmark Executions</h2>
  <%= render 'shared/benchmark_executions', show_benchmark_definition: true %>
<% end %>

