<h2>Execution of <%= link_to @benchmark_definition.name, @benchmark_definition %></h2>

<div class="container" id="benchmark_execution" data-id="<%= @benchmark_execution.id %>">
  <div class="span2">
    <%= execution_status_label(@benchmark_execution) %>
  </div>
  <div class="span3">
    <p>
      <strong>Execution start time:</strong><br>
      <%= formatted_time(@benchmark_execution.execution_start_time) %>
    </p>
  </div>
  <div class="span3">
    <p>
      <strong>Execution end time:</strong><br>
      <%= formatted_time(@benchmark_execution.execution_end_time) %>
    </p>
  </div>
</div>

<br>
<div class="container">
  <%= render 'live_log', id: 'prepare', title: 'Prepare benchmark' %>
  <br>
  <br>
  <%= render 'live_log', id: 'releaseResources', title: 'Release resources' %>
</div>
