<h2>Execution of <%= link_to @benchmark_definition.name, @benchmark_definition %></h2>
<p id="notice"><%= notice %></p>

<div class="container">
  <div class="span2">
    <span class="label label-default"><%= @benchmark_execution.status %></span>
  </div>
  <div class="span3">
    <p>
      <strong>Start time:</strong><br>
      <%= @benchmark_execution.start_time.present? ? @benchmark_execution.start_time.to_formatted_s(:db) : '-' %>
    </p>
  </div>
  <div class="span3">
    <p>
      <strong>End time:</strong><br>
      <%= @benchmark_execution.end_time.present? ? @benchmark_execution.end_time.to_formatted_s(:db) : '-' %>
    </p>
  </div>
</div>


<br>
<div class="container">
  <div class="span8">
    <p>Prepare log</p>
    <%= text_area_tag :log, @benchmark_execution.prepare_log, {:readonly => true, rows: "15", class: "form-control span8" }%>
  </div>
  <br>
  <br>
  <div class="span4">
    <p>Release resources log</p>
    <%= text_area_tag :log, @benchmark_execution.release_resources_log, {:readonly => true, rows: "15", class: "form-control span8" }%>
  </div>
</div>


