<% start_time = @benchmark_execution.start_time %>
<% provide(:title, "Execution #{formatted_time(start_time, :date_only)} of #{@benchmark_definition.name}") %>
<% title = "Execution #{formatted_time(start_time, :date_human)}" %>
<% subtitle = "#{formatted_time(start_time, :time_only)} of #{link_to @benchmark_definition.name, @benchmark_definition}" %>
<% content_header(title, subtitle) %>

<%= render 'dashboard', benchmark_execution: @benchmark_execution %>
<div class="row">
  <div class="col-md-9" id="benchmark_execution" data-id='<%= @benchmark_execution.id %>'>
    <br>
    <%= render 'timeline', benchmark_execution: @benchmark_execution %>
  </div>

  <div class="col-md-3">
    <%= render 'action_sidebar', benchmark_execution: @benchmark_execution %>
    <%= render 'vm_instances' %>
    <%= schedule_metric_sidebar(@benchmark_definition, @benchmark_execution) %>
  </div>
</div>