<%= form_for(@virtual_machine_instance) do |f| %>
  <% if @virtual_machine_instance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@virtual_machine_instance.errors.count, "error") %> prohibited this virtual_machine_instance from being saved:</h2>

      <ul>
      <% @virtual_machine_instance.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :benchmark_execution_id %><br>
    <%= f.text_field :benchmark_execution_id %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :provider_name %><br>
    <%= f.text_field :provider_name %>
  </div>
  <div class="field">
    <%= f.label :provider_instance_id %><br>
    <%= f.text_field :provider_instance_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
