<h1>Listing virtual_machine_instances</h1>

<table>
  <thead>
    <tr>
      <th>Benchmark execution id</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @virtual_machine_instances.each do |virtual_machine_instance| %>
      <tr>
        <td><%= virtual_machine_instance.benchmark_execution_id %></td>
        <td><%= virtual_machine_instance.status %></td>
        <td><%= link_to 'Show', virtual_machine_instance %></td>
        <td><%= link_to 'Edit', edit_virtual_machine_instance_path(virtual_machine_instance) %></td>
        <td><%= link_to 'Destroy', virtual_machine_instance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Virtual machine instance', new_virtual_machine_instance_path %>
