<h2>VM-Instances</h2>

<%= will_paginate @virtual_machine_instances %>
<div id='defaultTable' class='body'>
  <table class='table responsive-table'>
    <thead>
    <tr>
      <th>Link</th>
      <th>Benchmark</th>
      <th>Execution</th>
      <th>Status</th>
      <th>Provider</th>
      <th>Provider Instance Id</th>
    </tr>
    </thead>
    <tbody>
    <% @virtual_machine_instances.each do |vm_instance| %>
      <% benchmark_execution = vm_instance.benchmark_execution %>
      <% benchmark_definition = benchmark_execution.benchmark_definition %>
      <tr>
        <td>
          <%= link_to vm_instance do %>
            <i class='fa fa-link'></i>
          <% end %>
        </td>
        <td><%= link_to benchmark_definition.name, benchmark_definition %></td>
        <td>
          <%= link_to formatted_time(benchmark_execution.execution_start_time), benchmark_execution %>
        </td>
        <td><%= vm_instance.status %></td>
        <td><%= vm_instance.provider_name %></td>
        <td><%= vm_instance.provider_instance_id %></td>
    <% end %>
    </tbody>
  </table>
</div>
<%= will_paginate @virtual_machine_instances %>
