<p id="notice"><%= notice %></p>

<p>
  <strong>Benchmark execution id:</strong>
  <%= @virtual_machine_instance.benchmark_execution_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @virtual_machine_instance.status %>
</p>

<p>
  <strong>Provider name:</strong>
  <%= @virtual_machine_instance.provider_name %>
</p>

<p>
  <strong>Provider instance id:</strong>
  <%= @virtual_machine_instance.provider_instance_id %>
</p>

<%= link_to 'Edit', edit_virtual_machine_instance_path(@virtual_machine_instance) %> |
<%= link_to 'Back', virtual_machine_instances_path %>
