<p id="notice"><%= notice %></p>

<p>
  <strong>Role:</strong>
  <%= @virtual_machine_definition.role %>
</p>

<p>
  <strong>Region:</strong>
  <%= @virtual_machine_definition.region %>
</p>

<p>
  <strong>Instance type:</strong>
  <%= @virtual_machine_definition.instance_type %>
</p>

<p>
  <strong>Image:</strong>
  <%= @virtual_machine_definition.image %>
</p>

<%= link_to 'Edit', edit_virtual_machine_definition_path(@virtual_machine_definition) %> |
<%= link_to 'Back', virtual_machine_definitions_path %>
