<%= form_for(@metric_definition) do |f| %>
  <% if @metric_definition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@metric_definition.errors.count, "error") %> prohibited this metric_definition from being saved:</h2>

      <ul>
      <% @metric_definition.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :benchmark_definition_id %><br>
    <%= f.text_field :benchmark_definition_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :unit %><br>
    <%= f.text_field :unit %>
  </div>
  <div class="field">
    <%= f.label :scale_type %><br>
    <%= f.select :scale_type, MetricDefinition.scale_type.options %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
