<h2>
  <%= @metric_definition.name %> of
  <%= link_to @metric_definition.benchmark_definition.name, @metric_definition.benchmark_definition %>
</h2>

<%= link_to 'Edit', edit_metric_definition_path(@metric_definition), class: 'btn btn-default' %>
<br>
<br>

<span class="label label-warning">Currently used for unique referencing.
  Will be replaced with a logical, non-technical identifier.</span>
<p>
  <strong>metric_definition_id:</strong><br>
  <input type="text" value="<%= @metric_definition.id %>" disabled="" class="form-control">
</p>

<p>
  <strong>Scale type:</strong>
  <%= @metric_definition.scale_type %>
</p>

<%= will_paginate @metric_observations %>
<div id='defaultTable' class='body'>
  <table class='table responsive-table'>
    <thead>
    <tr>
      <th>VM</th>
      <th>Time</th>
      <th>
        Value
        <% if @metric_definition.unit.present? %>
          (<%= @metric_definition.unit %>)
        <% end %>
      </th>
    </tr>
    </thead>
    <tbody>
    <% @metric_observations.each do |metric_observation| %>
      <tr>
        <td>
          <%= link_to metric_observation.virtual_machine_instance do %>
            <%= metric_observation.virtual_machine_instance.provider_instance_id %>
            (<%= metric_observation.virtual_machine_instance.provider_name %>)
          <% end %>
        </td>
        <td>
          <%= metric_observation.time %>
        </td>
        <td>
          <%= metric_observation.value %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<%= will_paginate @metric_observations %>