<div class="field">
  <%= f.label :metric_definition_id %><br>
  <%= f.text_field :metric_definition_id %>
</div>
<div class="field">
  <%= f.label :virtual_machine_instance_id %><br>
  <%= f.text_field :virtual_machine_instance_id %>
</div>
<div class="field">
  <%= f.label :time %><br>
  <%= f.number_field :time %>
</div>
<div class="field">
  <%= f.label :value %><br>
  <%= f.text_field :value %>
</div>
<div class="actions">
  <%= f.submit %>
</div>