<div class="span3">
  <div class="well sidebar-nav">
    <h4>Metrics</h4>
    <%= link_to 'Create New Metric', new_metric_definition_path(@benchmark_definition), class: 'btn btn-primary' %>
    <br>
    <br>
    <div id="defaultTable">
      <table class="table responsive-table">
        <tbody>
        <% @metric_definitions.each do |metric_definition| %>
          <tr><td>
            <%= link_to metric_definition do %>
              <b><%= metric_definition.name %></b><br>
              <%= metric_definition.unit %> (<%= metric_definition.scale_type %>)
            <% end %>
          </td></tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>