<!-- TODO: Refactor this, since not free of hidden dependencies => explicitely pass variables -->
<!-- TODO: Think about modularization and naming (sidebar globally, metric, schedule, ...?!) -->
<div class="col-md-3">
  <div class="well sidebar-nav">
    <h4>Schedule</h4>
    <% schedule = @benchmark_definition.benchmark_schedule %>
    <% if schedule.nil? %>
    <% elsif schedule.active? %>
      <span class="label label-success"><%= schedule.cron_expression %></span>
      <br>
      <br>
    <% else %>
      <span class="label label-default"><%= schedule.cron_expression %></span>
      <br>
      <br>
    <% end %>

    <div class=""><%= schedule.cron_expression_in_english if schedule.present? %></div>

    <%= render 'shared/conditional_benchmark_schedule_btn', benchmark_definition: @benchmark_definition %>
    <br>

    <h4>Metrics</h4>
    <%= link_to 'Create New<br>Metric Definition'.html_safe,
                new_benchmark_definition_metric_definition_path(@benchmark_definition),
                class: 'btn btn-primary' %>
    <br>
    <br>
    <div id="defaultTable">
      <table class="table responsive-table">
        <tbody>
        <% @metric_definitions.each do |metric_definition| %>
          <tr><td>
            <% if metric_definition.has_any_observations? %>
              <%= link_to metric_definition do %>
                <b><%= metric_definition.name %></b>&nbsp;<%= show_icon %><br>
                <%= metric_definition.unit %> (<%= metric_definition.scale_type %>)
              <% end %>
            <% else %>
              <%= link_to edit_metric_definition_path(metric_definition) do %>
                <b><%= metric_definition.name %></b>&nbsp;<%= edit_icon %><br>
                <%= metric_definition.unit %> (<%= metric_definition.scale_type %>)
              <% end %>
            <% end %>
          </td></tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>