<div class="col-md-4">
  <div class="box">
    <div class="box-body">
      <%= simple_form_for(@benchmark_schedule, url: url) do |f| %>
        <%= f.input :cron_expression %>
        <%= f.input :active %>
        <%= f.submit class: 'btn btn-primary', value: submit_action %>
      <% end %>
    </div>
  </div>
</div>

<div class="col-md-8">
  <div class="box">
    <div class="box-header">
      <h3 class="box-title">Cron-Expression Reference</h3>
      <div class="box-tools pull-right">
        <%= link_to 'https://corntab.com/', target: '_blank', style: 'margin-right: 10px;' do %>
          Corntab - Online Crontab Editor&nbsp;<%= fa_icon('external-link') %>
        <% end %>
        <%= link_to 'https://linux.die.net/man/5/crontab', target: '_blank' do %>
          Man pages - crontab(5)&nbsp;<%= fa_icon('external-link') %>
        <% end %>
      </div>
    </div>
    <div class="box-body">
      <%= render 'cron_expression_reference' %>
    </div>
  </div>
</div>
