<%= form_for(@metric_observation) do |f| %>
  <% if @metric_observation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@metric_observation.errors.count, "error") %> prohibited this metric_observation from being saved:</h2>

      <ul>
      <% @metric_observation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :metric_definition_id %><br>
    <%= f.text_field :metric_definition_id %>
  </div>
  <div class="field">
    <%= f.label :provider_name %><br>
    <%= f.text_field :provider_name %>
  </div>
  <div class="field">
    <%= f.label :provider_instance_id, 'Provider instance id (AWS example: i-5203422c)' %><br>
    <%= f.text_field :provider_instance_id %>
  </div>
  <div class="field">
    <%= f.label :time %><br>
    <%= f.number_field :time %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.text_field :value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
