<h1>Listing metric_observations</h1>

<table>
  <thead>
    <tr>
      <th>Key</th>
      <th>Value</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @metric_observations.each do |metric_observation| %>
      <tr>
        <td><%= metric_observation.key %></td>
        <td><%= metric_observation.value %></td>
        <td><%= link_to 'Show', metric_observation %></td>
        <td><%= link_to 'Edit', edit_metric_observation_path(metric_observation) %></td>
        <td><%= link_to 'Destroy', metric_observation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Metric observation', new_metric_observation_path %>
