<div class="transparant-well">
  <div class="row">
    <div class="col-md-8">
      <%= link_to edit_benchmark_definition_path(@benchmark_definition), class: 'btn btn-default btn-block btn-lg' do %>
        <%= edit_icon %>&nbsp;Edit
      <% end %>
    </div>
    <div class="col-md-4">
      <%= link_to @benchmark_definition, method: :delete, class: 'btn btn-danger btn-block btn-lg',
                  data: confirm_delete_benchmark_msg(@benchmark_definition) do %>
        <%= delete_icon %>&nbsp;Delete
      <% end %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <%= button_to [@benchmark_definition, @benchmark_definition.benchmark_executions.build],
                    method: :post, class: 'btn btn-primary btn-block btn-lg',
                    data: confirm_start_execution_msg(@benchmark_definition) do %>
        <%= start_icon %>&nbsp;Start Execution
      <% end %>
    </div>
  </div>
</div>