<%= form_for(@benchmark_definition) do |f| %>
  <% if @benchmark_definition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@benchmark_definition.errors.count, "error") %> prohibited this benchmark_definition from being saved:</h2>

      <ul>
      <% @benchmark_definition.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
