<% provide(:title, "Edit #{@benchmark_definition.name}") %>
<% content_header('Edit Benchmark Definition', link_to(@benchmark_definition.name, @benchmark_definition)) %>

<div class="row">
  <div class="col-md-9">
    <%= render 'form', submit_name: 'Update Benchmark' %>
  </div>
  <div class="col-md-3">
    <div class="transparant-well">
      <%= link_to @benchmark_definition, method: :delete, class: 'btn btn-danger btn-block',
                  data: confirm_delete_benchmark_msg(@benchmark_definition) do %>
        <%= delete_icon %>&nbsp;Delete
      <% end %>
      <br>
      <%= button_to [@benchmark_definition, @benchmark_definition.benchmark_executions.build],
                    method: :post, class: 'btn btn-primary btn-block btn-lg',
                    data: confirm_start_execution_msg(@benchmark_definition) do %>
        <%= start_icon %>&nbsp;Start Execution
      <% end %>
    </div>
    <%= schedule_metric_sidebar(@benchmark_definition) %>
  </div>
</div>