<h2>Edit <%= @benchmark_definition.name %></h2>

<%= form_for [@benchmark_definition, @benchmark_definition.benchmark_executions.build] do |f| %>
  <%= f.hidden_field :benchmark_definition_id %>
  <%= f.submit 'Start Execution', data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %>
<% end %>
<br>

<div class="container">
  <div class="row">

    <div class="box span9">
      <%= render 'form', submit_name: 'Update Benchmark' %>
    </div>

    <%= render 'shared/metric_definitions_sidebar' %>
  </div>
</div>