<% provide(:title, 'Benchmark Definitions') %>
<% content_header('Benchmark Definitions') %>

<div class="row">
  <div class="col-xs-12 col-md-8 col-lg-6">
    <%= form_tag benchmark_definitions_path, method: 'get', class: 'input-group' do %>
      <%= text_field_tag :search, params[:search], class: 'form-control' %>
      <span class="input-group-btn">
        <%= submit_tag 'Search', name: nil, class: 'btn btn-primary btn-flat' %>
      </span>
    <% end %>
  </div>
  <div class="create-bm pull-right">
    <%= link_to new_benchmark_definition_path, class: 'btn btn-primary btn-lg' do %>
      <%= create_icon %>&nbsp;Create New Benchmark
    <% end %>
  </div>
</div>

<%= will_paginate class: 'col-md-8 col-md-offset-4' %>
<div class="box-body table-responsive">
  <table class="table table-hover">
    <tbody>
      <%= render @benchmark_definitions %>
    </tbody>
  </table>
</div>
<%= will_paginate class: 'col-md-8 col-md-offset-4' %>