<div class="row">
  <div class="col-md-9">
    <h1>Benchmark Definitions</h1>
  </div>
  <div class="col-md-3 action-sidebar">
    <%= link_to new_benchmark_definition_path, class: 'btn btn-primary btn-lg' do %>
      <%= create_icon %>&nbsp;Create New Benchmark
    <% end %>
  </div>
</div>

<%= will_paginate class: 'pagining_bootstrap' %>
<div class="box-body table-responsive no-padding">
  <table class="table table-hover">
    <tbody>
      <%= render @benchmark_definitions %>
    </tbody>
  </table>
</div>
<%= will_paginate class: 'pagining_bootstrap' %>