<h2><%= @benchmark_definition.name %></h2>

<div class="container">
  <div class="row">

    <div class="box span9">
      <header>
        <h4><%= link_to benchmark_definition_benchmark_executions_path(@benchmark_definition) do %>
            <%= pluralize(@benchmark_definition.benchmark_executions.count, 'Execution') %>
          <% end %></h4>
      </header>
      <%= render 'shared/benchmark_executions', show_benchmark_definition: false %>
    </div>

    <%= render 'shared/metric_definitions_sidebar' %>
  </div>
</div>

