<% provide(:title, @benchmark_definition.name) %>
<% content_header('Benchmark Definition', @benchmark_definition.name) %>

<div class="row">
  <div class="col-md-9">
    <%= render 'vagrantfile_box' %>
    <%= render 'benchmark_executions_box' %>
    <%= render 'shared/virtual_machine_instances_box', show_benchmark_definition: false %>
  </div>

  <div class="col-md-3">
    <%= render 'action_sidebar' %>
    <%= schedule_metric_sidebar(@benchmark_definition) %>
  </div>
</div>