<h2><%= @benchmark_definition.name %></h2>

<%= link_to 'Edit', edit_benchmark_definition_path(@benchmark_definition), class: 'btn btn-default' %>
<br>
<br>
<%= form_for [@benchmark_definition, @benchmark_definition.benchmark_executions.build] do |f| %>
  <%= f.hidden_field :benchmark_definition_id %>
  <%= f.submit 'Start Execution', data: { confirm: 'Are you sure?' }, class: 'btn btn-primary' %>
<% end %>

<div class="container">
  <div class="row">

    <div class="box span9">
      <header>
        <h4 class="header-title">
          <%= link_to benchmark_definition_benchmark_executions_path(@benchmark_definition) do %>
            <%= pluralize(@benchmark_definition.benchmark_executions.count, 'Execution') %>
          <% end %>
        </h4>
        <div class="toolbar">
          <div class="toolbar-center">
            <%= will_paginate @benchmark_executions %>
          </div>
          <div class="toolbar">
            <a href="#benchmarkExecutionsTable" data-toggle="collapse" class="btn btn-sm btn-default minimize-box">
              <i class="fa fa-angle-up"></i>
            </a>
          </div>
        </div>
      </header>
      <div id='benchmarkExecutionsTable' class='collapse in'>
        <%= render 'shared/benchmark_executions', show_benchmark_definition: false %>
      </div>
    </div>

    <%= render 'shared/metric_definitions_sidebar' %>
  </div>
</div>

