<h2><%= @benchmark_definition.name %></h2>

<div class="container">
  <div class="row">

    <div class="box span9">
      <header>
        <h4><%= link_to benchmark_definition_benchmark_executions_path(@benchmark_definition) do %>
            <%= pluralize(@benchmark_definition.benchmark_executions.count, 'Execution') %>
          <% end %></h4>
      </header>
      <%= render 'benchmark_executions' %>
    </div>

    <div class="span3">
      <div class="well sidebar-nav">
        <h4>Metrics</h4>
        <%= link_to 'Create New Metric', new_metric_definition_path(@benchmark_definition), class: 'btn btn-primary' %>
        <br>
        <br>
        <%= render 'metric_definitions' %>
      </div>
    </div>
  </div>
</div>

