<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Cloud WorkBench" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
  </head>
  <body>

  <div id="wrap">
    <div id="top">
      <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">

          <header class="navbar-header">
            <%= link_to root_path, class: "navbar-brand" do %>
              <i class="fa fa-cloud fa-2x"></i><span class="brand">&nbsp;WorkBench</span>
            <% end %>
          </header>

          <div class="topnav">
            <a data-placement="bottom" data-original-title="Show / Hide Left" data-toggle="tooltip" class="btn btn-primary btn-sm toggle-left" id="menu-toggle">
              <i class="fa fa-bars"></i>
            </a>
          </div>

          <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
              <li> <a href="/dashboard">Dashboard</a>  </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <div id="left">
      <ul id="menu">
        <li class="nav-header">Benchmark&nbsp;<i class="fa fa-tachometer"></i></li>
        <li>
          <%= link_to benchmark_definitions_path do %>
            <i class="fa fa-file-text"></i>&nbsp;<span class="link-title">Definitions</span>
          <% end %>
        </li>
        <li>
          <%= link_to benchmark_executions_path do %>
            <i class="fa fa-play-circle"></i>&nbsp;<span class="link-title">Executions</span>
          <% end %>
        </li>
        <li class="nav-divider"></li>
        <li class="nav-header">Others</li>
        <li>
          <%= link_to virtual_machine_instances_path do %>
            <i class="fa fa-desktop"></i>&nbsp;<span class="link-title">Virtual Machines</span>
          <% end %>
        </li>
      </ul>
    </div>

    <div id="content">
      <div class="inner">
        <div class="container">
          <div class="row">
            <div>
              <%= bootstrap_flash %>
              <%= yield %>
            </div>
            <!-- Each view can decide whether to provide a sidebar or not -->
            <% if content_for?(:sidebar) %>
              <div class="col-md-3">
                <div class="well sidebar-nav">
                  <%= yield(:sidebar) %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  </div>

  <% if Rails.env.development? %>
  <div class="well well-lg">
    <h4>Debugging</h4>
    <%= debug(params) %>
  </div>
  <% end %>

  </body>
</html>
